@font-face {
  font-family: Draconic;
  src: url('assets/SegoeUIDrac.ttf') format('ttf');
}
@font-face {
  font-family: "Draconic1";
  src: url("https://draconicconlang.github.io/APIs/dialects/dr_dr/assets/font/font.ttf") format("truetype");
}

* {
  font-family: "Draconic1", sans-serif;
}